* {
      background-color: rgb(8, 8, 32);
      text-align: center;
      font-family: fantasy;
      color: white;
      font-size: large;
}

#p1 {
    color: white;
    text-align: center;
    font-family: cursive;
    background-color: rgb(8, 8, 32);
}


/* .contact{
      text-align: left; 
      font-family: fantasy;
      color: steelblue;
      width: 100px;
      height: 150px;
      border: 15px solid rgb(97, 126, 158);
      border-radius: 12px;
      padding: 50px;
      margin: 20px;
      display: inline-table;
      float: center;
} */


.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      height: 50%;
      width: 50%;
}

.heading{
      background-color: rgb(8, 8, 32);
      background-image:
      radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
      radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
      radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
      radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
      background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
      background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
      text-align: center;
      margin: 0px auto;
}

/* .div1 {
      width: 300px;
      height: 150px;
      border: 15px solid rgb(60, 157, 205);
      border-radius: 12px;
      padding: 50px;
      margin: 20px;
      display: inline-table;
      float: left;
    }

    .div2 {
      width: 300px;
      height: 150px;
      border: 15px solid white;
      border-radius: 12px;
      padding: 50px;
      margin: 20px;
      display: inline-table;
      float: right;
    } */

    
     a {
      color: rgb(115, 179, 211);
    } 

.column {
  float: left;
  padding: 50px; 
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

    .Home{
        float: left;
        list-style-type: none;
        display: inline-block;
        margin: 0%;
        padding: 0;
        
    }

    .Contact{
        float: center;
        list-style-type: none;
        display: inline-block;
        margin: 0%;
        padding: 0;
  }

  .Education{
        float: right;
        list-style-type: none;
        display: inline-block;
        margin: 0%;
        padding: 0;
        color: rgb(60, 157, 205);
}

.projectspara{
  font-family: fantasy;
  font-weight: bold;
  color:rgb(26, 168, 193);
}
